mixin fade-in-on-scroll(text, time=.05)    
    .fade-in-on-scroll.w-100(data-time=time)
        .fade-word!= text
        //- each word in text.split(' ')
        //-     span.fade-word= word + ' '