mixin twitter-feed
    a.twitter-timeline(data-theme='dark' href='https://twitter.com/TruecareNursing?ref_src=twsrc%5Etfw') Tweets by TruecareNursing
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
